html { margin:0; padding:0;}
body { margin:0; padding:0; "Times New Roman", Times, Baskerville, Georgia, serif; background:#fff;}
.clear { clear:both;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0;}
form, menu, iframe { display:block; margin:0; padding:0; border:none;}
ol, ul, dl, li, dt, dd { margin:0; padding:0; list-style:none;}
* { outline:none;}

.resize {
    width: 800px;
    margin: 0 auto;
}

h1.span_table {
    color: #0051ac;
    padding: 85px 0 45px;
}

span.text {
    color: #ff0000;
}

div.head, .bod-table {
    width: 100%;
    display: table;
}

div.head {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    background: #afafaf;
}

div.bod-table {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 26px;
    background: #dfdfdf;
    text-align: justify;
}

div.bod-table:hover {
    background: #afafaf;
}

p {
    display: table-cell;
 }

p.year {
    width: 120px;
}

p.left {
    width: 450px;
    padding-left: 15px;
    text-align: left;
}

p.center {
    text-align: center;
}

p.author {
    width: 353px;
}