html { margin:0; padding:0;}
body { margin:0; padding:0; "Times New Roman", Times, Baskerville, Georgia, serif; background:#fff;}
.clear { clear:both;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0;}
form, menu, iframe { display:block; margin:0; padding:0; border:none;}
ol, ul, dl, li, dt, dd { margin:0; padding:0; list-style:none;}
* { outline:none;}

.resize {
    width: 880px;
    margin: 0 auto;
}

h1 {
    padding: 85px 0 45px;
}

h1:first-letter {
    color: #0051ac;
}

h1:first-line {
    color: #ff0000;
}

div.head, .bod-table {
    width: 100%;
    display: table;
    font-size: 20px;
    line-height: 26px;
}

p {
    display: table-cell;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

span.text {
    display: table-row;
    color: #ff0000;
}

div.head {
    font-weight: bold;
    background: #afafaf;
}

div.bod-table {
    background: #dfdfdf;
}

div.bod-table:hover {
    background: #afafaf;
}

p.first-raw {
    text-align: center;
    width: 48px;
}

p.author {
    width: 353px;
    padding-left: 23px;
}

p.year {
    text-align: center;
}

p.data {
    text-align: right;
    padding-right: 13px;
}

