html { margin:0; padding:0;}
body { margin:0; padding:0; "Times New Roman", Times, Baskerville, Georgia, serif; background:#fff;}
.clear { clear:both;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0;}
form, menu, iframe { display:block; margin:0; padding:0; border:none;}
ol, ul, dl, li, dt, dd { margin:0; padding:0; list-style:none;}
* { outline:none;}

.resize {
    width: 880px;
    margin: 0 auto;
}

h1.menu {
    color: #0051ac;
    padding: 85px 0 45px;
}

span {
    color: #ff0000;
}

/*first menu*/

menu.men1 {
    width: 100%;
    table-layout: fixed;
    display: table;
    font-size: 100%;
}
menu.men1 li {
    display: table-cell;
    list-style: none;
    text-align: center;
    background: #cfcfcf;
    position: relative;
    padding: 9px 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
menu.men1 li ul {
    list-style: none;
    width: 150px;
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
}
menu.men1 li ul li {
    display: inline-block;
    width: 150px;
    text-align: center;
    border: none;
}
menu.men1 li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
menu.men1 li:hover ul {
    display: block;
}

menu.men1 li:hover:nth-child(odd) {
    background: #afafaf;
}




/*second menu*/

.menu-between {
    padding-top: 50px;
}

menu.men-2 {
    display: table;
    width: 100%;
    height: 38px;
    text-align: center;
    background: #cfcfcf;
}

menu.men-2 li {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

menu.men-2 li a {
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}

menu.men-2 li:hover {
    background: #afafaf;
}



/*third menu*/

menu.men-3 {
    display: table;
    width: 100%;
    height: 38px;
    text-align: center;
    overflow: hidden;
    background-color: #cfcfcf;
}

menu.men-3 li {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

menu.men-3 li a {
    display: block;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}

menu.men-3 li ul.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cfcfcf;
}

.dropdown-content a{
    display: block;
    color: black;
    text-align: center;
}

menu.men-3 li:hover, .dropdown:hover {
    background-color: #afafaf;
}

menu.men-3 ul.dropdown-content li {
    display: table-row;
  }

.dropdown-content li a:hover {
    background-color: #afafaf;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home {
    position: relative;
}

.home-line {
    width: 130px;
}

menu.men-3 .home:before {
    position: absolute;
    content: "";
    top: 0;
    left: 12px;
    width: 24px;
    height: 24px;
    background: url(../images/sprite.png) no-repeat 0 -34px;
}

ul.minesprit {
  width: 190px;
}

ul.minesprit li {
    border: none;
}

a.skype, a.google, a.tw {
    text-indent: -9000px;
}

.skype {
    position: relative;
    display: inline-block;
  }

.skype:before {
    content: "";
    position: absolute;
    left: 163px;
    top: -2px;
    width: 32px;
    height: 32px;
    background: url(../images/sprite.png) 0 0;
}

.google {
    position: relative;
    display: inline-block;
}

.google:before {
    content: "";
    position: absolute;
    left: 187px;
    top: -2px;
    width: 32px;
    height: 32px;
    background: url(../images/sprite.png) no-repeat -34px 0;
}

.tw {
    position: relative;
    display: inline-block;
}

.tw:before {
    content: "";
    position: absolute;
    left: 151px;
    top: -2px;
    width: 32px;
    height: 32px;
    background: url(../images/sprite.png) no-repeat -68px 0;
}

